{% extends 'base.html' %}
{% load static %}
{% block tituloPagina %}
Buscar Curso - Club La Escaloneta
{% endblock %}
{% block contenidoPagina %}
{% load crispy_forms_tags %}
<p>Buscar curso:
    <form action="" method="post">
        {% csrf_token %}
        {{form  |  crispy }}
        <!-- <p>Curso: <input type="text" name="nombre" id="" maxlength="30"> </p> -->
        
        
        <input type="text" name="curso" id="" min="0">
        <input type="text" name="curso" id="" min="0">
        <input type="number" name="curso" id="" min="0">
        <input type="reset" name="Cancelar" class="btn-btn-secondary">

        <input type="submit" value="Buscar">
        
    </form>
</p>
<p>Resultados: </p>
<ul>
    {% for resultado in cursos %}
        <li>{{resultado.nombre}} {{ resultado.deporte }} {{ resultado.fecha }}</li>
    {% endfor %}
</ul>
{% endblock %}
  4  