{% extends 'base.html' %}
{% load static %}

{% block tituloPagina %}
Inicio - Club La Escaloneta
{% endblock %}

{% block contenidoPagina %}
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://www.lascanuelascc.com.ar/images/slide1.jpg" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Club La Escaloneta</h1>
                    <p>Bienvenido al Club La Escaloneta</p>
                    {% csrf_token %}
                    <a class="btn btn-primary" href="{% url 'Deportes' %}">Nuestras Actividades</a>
                    {% csrf_token %}
                    <a class="btn btn-primary" href="{% url 'Cursos' %}">Nuestros Cursos</a>
                </div>
            </div>
            {% if not user.is_authenticated %}
                <div class="card text-white bg-secondary my-5 py-4 text-center">
                    <div class="card-body"><h3 class="text-white m-0">¡Registrate para unirte a las actividades!</h3></div>
                </div>
            
                <div class="container px-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-6">
                            <div class="text-center my-5">
                                <h1 class="display-5 fw-bolder text-black mb-2">VENTAJAS DE CONVERTIRTE EN UN USUARIO</h1>
                                <p>Aprender,divertirte y ejercitarte en el mejor club de Buenos Aires.</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                    {% csrf_token %}
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'Registro' %}">¡Registrate!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% else %}
                <!-- Call to Action-->
                <div class="card text-white bg-secondary my-5 py-4 text-center">
                    <div class="card-body"><h2 class="text-white m-0">!HASTE MIEMBRO, UNETE A ESTE GRAN FAMILIA¡</h2></div>
                </div>
            <!-- Content Row-->
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title">Membresia Bronce</h2>
                                <p class="card-text">Con acceso a futbol y natacion gratis, con 50% en golf y el gimnasio un mes gratis.</p>
                            </div>
                            <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'Membresias' %}">¡Hacerte Miembro!</a></div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title">Membresia Plata</h2>
                                <p class="card-text">Con acceso a futbol, natacion y golf gratis, equipamiento incluido y ademas por 12 meses 50% en el gimanasio</p>
                            </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'Membresias' %}">¡Hacerte Miembro!</a></div>
                    </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title">Membresia Oro</h2>
                                <p class="card-text">Todos los deportes gratis y incluyendo su equipamiento, codigo de amigo de descuento para compartir!</p>
                            </div>
                            <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'Membresias' %}">¡Hacerte Miembro!</a></div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
{% endblock %}