{% extends 'base.html' %}
{% load static %}

{% block tituloPagina %}
Perfil - Club La Escaloneta
{% endblock %}

{% block contenidoPagina %}
<body>
    <h2>Detalle del Perfil:</h2>
    <img src="{{url}}" class="img-thumbnail" alt="" style="height: 200px;">
    <a href="{% url 'Agregar_avatar' %}">Cambiar Foto</a>
    
    <p>Nombre: {{user.first_name}}</p>
    <p>Apellido: {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>

    <a href="{% url 'Editar_perfil' %}">Editar Perfil</a>
    
</body>
{% endblock %}